<div class="list-group-item d-flex">
    <input
        type="checkbox"
        class="checkbox m-3"
        (click)="onCheck(task)"
        [checked]="task.completed">

    <div
        *ngIf="!editable">
        <span
            class="mb-1 text"
            [ngClass]="task.completed? 'strikethrough' : 'null'">{{ task.title }}</span>



        <button type="button" (click)="onDelete(task)">Delete</button>
    </div>
    <div class="list-group-item align-items-center d-flex"
        *ngIf="editable">
        <input
            type="text"
            class="form-control m-1"
            [(ngModel)]="task.title">


    </div>
</div>
